.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-radius: 10px; */
    /* height: 350px;
    width: 350px;
    border: 2px solid grey; */
}
.dangnhap{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid grey;
}
h1{
    margin-bottom: 20px;
}

input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 20px;
    padding-right: 10px;

}
.button{
    width: 220px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(93, 93, 206);
    color: white;
    margin-top: 10px;
}
.button:hover{
    font-size: 15px;
}
.box {
    text-align: center;
    position: relative;
    font-size: 17px;
    color: #225475;
    font-weight: 600;
    padding-bottom: 5px;
    margin-top: 10px;
}
.box::before{
    content: '';
    width: 135px;
    height: 1px;
    background: #bdc3c7;
    position: absolute;
    left: 5px;
    bottom: 10px;
}
.box::after{
    content: '';
    width: 135px;
    height: 1px;
    background: #bdc3c7;
    position: absolute;
    right: 5px;
    bottom: 10px;
}
.a{
    margin-top: 10px;
    font-size: 18px;
}